<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Count_on_me.app</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../css/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" href="../images/countme_logo.PNG">


</head>

<body>

  <section class="background-image">
    <div class="container my-4">
      <div class="row">
        <div class="col-md-6 col-sm-8 mx-auto">
          <div class="card border-none">
            <div class="card-body">
              <div class="mt-2">
                <img src="../images/countme_logo.png" class="mx-auto d-block img-fluid">
              </div>
              <div class="mt-2 text-center">
                <h3>Regístrate </h3>
              </div>
              <p class="mt-4 lead text-center">
                Accede a tu comunidad
              </p>
              <p class="text-center">
                ¿Ya tienes una cuenta?
                <a href="../index.html">Ingresa</a>
              </p>
              <div class="mt-4">
                <form>
                  <div class="form-group">
                    <input id="name" type="text" class="form-control" placeholder="Escribe tu nombre" required>
                  </div>
                  <div class="form-group">
                    <input id="email" type="email" class="form-control" name="email" placeholder="Correo" required>
                  </div>
                  <div class="form-group">
                    <input id="password" type="password" class="form-control" placeholder="Contraseña" required>
                  </div>
                  <button id="btn-singin" class="btn btn-secondary btn-sm mb-2" type="submit" aria-pressed="true">
                    <a href="../index.html"> </a>Registrar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <nav class="navbar navbar-light" style="background-color:#DCB4CA;">
      <a class="navbar-brand">CountMe.app</a>
      <!-- Navbar content -->
    </nav>
  </div>
  <div class="container">
    <p>Registrate</p>
    <input id="email" type="email" placeholder="Ingresa un email" class="form-control mr-sm-2 mb-2">
    <input id="password" type="password" placeholder="Ingresa una contraseña" class="form-control mr-sm-2">
    <button id="btn-singin" class="btn btn-secondary btn-sm mb-2" role="button" aria-pressed="true" >Registrar</button>
    <p>Iniciar Sesión</p>
    <input id="email-two" type="email" placeholder="Ingresa email" class="form-control mr-sm-2 mb-2">
    <input id="password-two" type="password" placeholder="Ingresa contraseña" class="form-control mr-sm-2">
    <button id="btn-loginaitor" class="btn btn-secondary btn-sm">Ingresar</button>
    <button id="login" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Inicia con Google</button>
   <button id="btnFace" class="btn btn-tertiary btn-sm" role="button" aria-pressed="true">Inicia con Facebook</button>
  </div>
  
   <!-- Load Facebook SDK for JavaScript-->
  <div id="fb-root"></div>
<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="true" data-auto-logout-link="true" data-use-continue-as="true"></div>


  <!-- Your like button code 
  <div class="fb-like" 
    data-href="https://jaztan.github.io/cdmx-2018-06-bc-core-am-social-network/src/views/view1.html" 
    data-layout="standard" 
    data-action="like" 
    data-show-faces="true">-->
  </div>

</body>

  <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="../js/firebase.js"></script>
  <script src="../js/paintView.js"></script>

</body>

</html>
