<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Count_on_me.app</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../css/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
  <link rel="shortcut icon" href="../images/talk_tome.png">


</head>

<body>
  <div class="container">
    <nav class="navbar navbar-light" style="background-color:#E59AEE;">
      <a class="navbar-brand">Count On Me.app</a>
      <!-- Navbar content -->
    </nav>
  </div>
  <div class="container">
    <h5>Registrate</h5>
    <input id="email" type="email" placeholder="Ingresa un email" class="form-control mr-sm-2 mb-2">
    <input id="password" type="password" placeholder="Ingresa una contraseña" class="form-control mr-sm-2">
    <button id="btn-singin" class="btn btn-secondary btn-sm mb-2" role="button" aria-pressed="true" >Registrar</button>
    <h5>Iniciar Sesión</h5>
    <input id="email-two" type="email" placeholder="Ingresa email" class="form-control mr-sm-2 mb-2">
    <input id="password-two" type="password" placeholder="Ingresa contraseña" class="form-control mr-sm-2">
    <button id="btn-loginaitor" class="btn btn-secondary btn-sm">Ingresar</button>
    <button id="login" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Inicia con Google</button>
   <button id="btnFace" class="btn btn-tertiary btn-sm" role="button" aria-pressed="true">Inicia con Facebook</button>
   
  </div>

  <fieldset>
    <legend>Ingresa tu numero Celular </legend>

    <label for="phone">Número Celular:</label>
    <input type="tel" id="phone" name="phone"
           placeholder="123-456-7890"
           pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
           required />
    <span class="validity"></span>

</fieldset>
<button id="btnPhone" class="btn btn-quaternary btn-sm" role="button"
   aria-pressed="true">Inicia con tu Número Celular</button>
   <input id="captcha" type="text"placeholder="ingresa el codigo que te llego como sms" class="form-control mr-sm-2 mb-2">
   <input id="widgetId" type="text"placeholder="comprobando el codigo de verificación" class="form-control mr-sm-2 mb-2">

  <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '289516981795849',
          xfbml      : true,
          version    : 'v3.1'
        });
        FB.AppEvents.logPageView();
      };
    
      (function(d, s, btnFace){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById('btnFace')) {return;}
         js = d.createElement(s); js.btnFace = btnFace;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
  <script src="../js/firebase.js"></script>
  <script src="../js/login.js"></script>

</body>

</html>
