<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Count_on_me.app</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../css/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="shortcut icon" href="http://imagizer.imageshack.us/a/img924/7209/YlDYYA.png">
</head>
<body>
    <header>
        <br>
        <nav class="navbar navbar-light bg-light">
          <img src="http://imagizer.imageshack.us/a/img924/7209/YlDYYA.png" width="50" height="50" class="d-inline-block align-top"
            alt="">
          <a class="navbar-brand">CountMe.App</a>
        </nav>
      </header>
  <section>
    <div class="container my-4">
      <div class="row">
        <div class="col-md-6 col-sm-8 mx-auto">
          <div class="card border-none">
            <div class="card-body">
              <div class="mt-2">
                <img src="http://imagizer.imageshack.us/a/img924/7209/YlDYYA.png" class="mx-auto d-block img-fluid">
              </div>
              <div class="mt-2 text-center">
                <h3>Regístrate </h3>
              </div>
              <p class="mt-4 lead text-center">
                Accede a tu comunidad
                <i class="fas fa-american-sign-language-interpreting"></i>
              </p>
              <p class="text-center">
                ¿Ya tienes una cuenta?
                <a href="../index.html">Ingresa</a>
              </p>
              <div class="mt-4">
                <form>
                  <div class="form-group">
                    <input id="name" type="text" class="form-control" placeholder="Escribe tu nombre" required>
                  </div>
                  <div class="form-group">
                    <input id="email" type="email" class="form-control" name="email" placeholder="Correo" required>
                  </div>
                  <div class="form-group">
                    <input id="password" type="password" class="form-control" placeholder="Contraseña" required>
                  </div>
                  <button id="btn-singin" class="btn btn-secondary btn-sm mb-2" type="submit" aria-pressed="true">
                    <a href="../index.html"> </a>Registrar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="../js/firebase.js"></script>
  <script src="../js/paintView.js"></script>
</body>
</html>
