<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CountMe.app</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="../css/style.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
          crossorigin="anonymous">
      
      </head>
<body>

  <h5><strong><em>Bienvenida a tu comunidad</em></strong></h5>
  <form>
    <div>
      <label for="nickname">Nickname</label>
      <input type="text" id="nickname">
    </div>
    <div>
      <label for="mensaje">Mensaje</label>
      <textarea id="mensaje"></textarea>
    </div>
    <button type="button" id="btnEnviar">Enviar</button>
  </form>

  <div id="chatUl">

  </div>
  






<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>

<script src="../js/wall.js"></script>
</body>
</html>
